@larc-font: 'Bellefair', serif;
// @larc-font: 'Marcellus SC', serif;

#page-container {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: @larc-font;
    font-weight: 600;
}

#lamed-banner {
    background-color: FireBrick;
    color: Goldenrod;
    font-size: 2em;
    padding: 0.4em;
    border: 0.01em solid black;
    border-radius: 0.5em;
    #larc-abbr {
        background-color: Goldenrod;
        color: Firebrick;
        margin: auto;
        border: 0.01px solid white;
        padding: 0.2em;
        border-radius: 0.3em;
    }
}


/*#form-container {
    max-width: 560px;
    margin: auto;
    padding: 2em;
    display: flex;*/


#sign-in-form {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    margin: auto;
    #sign-in {
        display: block;
        font-size: 1.4em;
        font-weight: 500;
    }
    span {
        margin-top: 2rem;
        display: inline-block;
    }
    .inp-field {
        display: block;
        width: 80%;
        padding: 1em;
        border-radius: 2em;
    }
}


//}

#bottom-row {
    display: flex;
    justify-content: space-between;
}

#forgot {
    color: blue;
    margin-top: 1em;
}

.btn {
    width: 20%;
    background-color: Goldenrod;
    font-family: @larc-font;
    font-size: 1.2em;
    font-weight: bold;
    color: Firebrick;
    padding: 0.2em;
    margin-top: 1em;
    margin-right: 20%;
    border-radius: 1em;
}

#new {
    margin: auto;
    color: rgb(221, 221, 221);
}

hr {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    color: blue;
    display: flex;
    justify-content: space-around;
    span {
        display: inline-block;
        }
    a {
        text-decoration: none;
    }
}

footer>span {
    display: block;
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
       #larc-name {
           display: none;
       }
       #larc-abbr {
           margin: 0em auto;
       }
}