#lamed-banner {
  /*font-family: 'Marcellus SC', serif;*/
  font-family: 'Bellefair', serif;
  background-color: FireBrick;
  color: Goldenrod;
  font-size: 4em;
  padding: 0.5em;
}
#lamed-banner strong {
  width: 10em;
  height: 10em;
  font-size: 5em;
  background-color: Goldenrod;
  color: Firebrick;
  margin: auto;
  border: 1px solid Firebrick;
}
#page-container {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}
#logo-container {
  display: flex;
  justify-contents: center;
}
#logo-container img {
  margin: 0 auto;
  height: 51px;
  width: 125px;
}
#form-container {
  border: 1px solid LightSteelBlue;
  max-width: 560px;
  margin: auto;
  padding: 2em;
}
#form-container #sign-in {
  display: block;
  font-size: 2em;
}
#form-container input {
  width: 100%;
}
#form-container span {
  margin-top: 2rem;
  display: inline-block;
}
#span-container {
  display: flex;
  justify-content: space-between;
}
#span-container #forgot {
  color: blue;
}
#btn-submit {
  background-color: gold;
}
.btn {
  padding: 1em;
  margin-top: 2em;
}
#new {
  margin: auto;
  color: #dddddd;
}
hr {
  width: 100%;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  color: blue;
  display: flex;
  justify-content: space-around;
}
nav span {
  display: inline-block;
}
nav a {
  text-decoration: none;
}
footer > span {
  display: block;
  font-size: 0.8em;
}
