@larc-font: 'Bellefair', serif;
// @larc-font: 'Marcellus SC', serif;

.larc-color {
    background-color: FireBrick;
    color: Goldenrod;
}

.larc-color-reversed {
    background-color: Goldenrod;
    color: FireBrick;
}

#lamed-banner {
    .larc-color;
    font-family: @larc-font;
    font-size: 2em;
    padding: 0.4em;
    border: 0.01em solid black;
    border-radius: 0.5em;
    #larc-abbr {
        .larc-color-reversed;
        margin: auto;
        border: 0.01px solid white;
        padding: 0.2em;
        border-radius: 0.3em;
    }
}

main {
    color: black;
}

#subscribe-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    span {
        margin-top: 2rem;
        display: inline-block;
    }
}
